<div class="home">
  <phone-pulse-banner
    title="Phone pulse"
    text="Welcome to our official website"
    image="assets/images/banner3.jpg"
  ></phone-pulse-banner>
  <div class="our-services">
    <h1>Our services</h1>
    <hr class="line" />
    <div class="row wrapper">
      <div class="service">
        <div class="icon">
          <i class="zmdi zmdi-smartphone-iphone"></i>
        </div>

        <h2>Wide Selection</h2>
        <p>
          Explore our diverse range of high-quality products, from smartphones
          to accessories, all at competitive prices.
        </p>
      </div>
      <div class="service">
        <div class="icon">
          <i class="zmdi zmdi-shield-check"></i>
        </div>
        <h2>Quality Guaranteed</h2>
        <p>
          Shop with confidence knowing that all our products undergo rigorous
          quality checks, ensuring top-notch performance.
        </p>
      </div>
      <div class="service">
        <div class="icon">
          <i class="zmdi zmdi-phone"></i>
        </div>

        <h2>Expert Support</h2>
        <p>
          Our knowledgeable team is dedicated to providing you with exceptional
          customer support for all your needs.
        </p>
      </div>
    </div>
  </div>
  <div class="records">
    <div class="row wrapper">
      <div class="record margin-right-border">
        <div class="icon"><i class="zmdi zmdi-account"></i></div>
        <div class="text">
          <h4>Customers:</h4>
          <h5>10 000+</h5>
        </div>
      </div>
      <div class="record margin-right-border">
        <div class="icon"><i class="zmdi zmdi-money"></i></div>
        <div class="text">
          <h4>Sold products:</h4>
          <h5>20 000+</h5>
        </div>
      </div>
      <div class="record">
        <div class="icon">
          <i class="zmdi zmdi-time"></i>
        </div>
        <div class="text">
          <h4>Years of work:</h4>
          <h5>20+</h5>
        </div>
      </div>
    </div>
  </div>
</div>
